@media (min-width: 380px) {
  body {
  }
}

#logo {
  max-height: 85px;
  margin-right: 0px;
  margin-top: -3px;
  display: inline-block;
}

/* COVID MSSG BANNER */
#covid-box {
  background-color: #898989;
  margin-top: 1px;
  margin-bottom: 2px;
}
#covid-box p {
  color: #fff;
  font-weight: 300;
  padding-top: 2px;
  margin-bottom: 4px;
}

/* VIDEO CSS */
.vid-section {
  position: relative;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightskyblue;
  opacity: 0.5;
}
#videoBG {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}
.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  padding: 20px 40px;
}
.intro-heading {
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 10px;
}
.intro-subheading {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 60px;
  margin-left: 35px;
}
/* @media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
} */

#intro-text {
  color: #7d8285;
}

@media (max-width: 576px) {
  #intro-text {
    margin-top: 40px;
  }
}

.section {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .section {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 8px;
  }
}

.section h2 {
  font-size: 27px;
  font-weight: 400;
}

.section h2 {
  font-size: 36px;
  padding-bottom: 8px;
}

.services.section {
  background-color: #00adf2;
  color: #fff;
}

.section h3 {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

.services .link {
  color: #fee487;
  margin-bottom: 0;
  font-size: 17px;
}

.text-center.text-info.section {
  padding-bottom: 50px;
}

@media (max-width: 380px) {
  #contact-heading h2 {
  }
}

#info-container {
  padding-bottom: 90px !important;
}

@media (max-width: 380px) {
  #cosmetic-heading {
    font-size: 31px;
  }
}

@media (max-width: 380px) {
  .cosmetic-services {
    padding: 10px 0;
  }
}

@media (max-width: 380px) {
  .cosmetic-services h3 {
    /*font-size: 22px;*/
  }
}

#top-footer {
  background-color: #00adf2;
}

#top-footer img {
  margin: 20px 0;
  max-width: 450px;
  width: 80%;
}

